.Contenedor-General {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    // width: 100%;

    .tittle {
        font-family: Montserrat;
        font-size: 50px;
        margin-bottom: 0px;
        margin-top: 40px;
        text-align: center;
    }
    .tittle1 {
        font-family: Montserrat;
        font-size: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }
    .cuadro-general {
        align-self: center;
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .cuadro {
        width: 28%;
        display: inline-block;
    }
    .cajaimg {
        text-align: center;
        margin-bottom: 0px;
        padding: 40px;
        margin-left: 40px;
        margin-right: 40px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.07);
        border-image: initial;
        transition: all 0.3s ease 0s;
        background: #6421ff;
        height: 30%;
    }
    .cajatxt {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 30px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 20px;
        border-width: 2px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.07);
        border-image: initial;
        transition: all 0.3s ease 0s;
        background: #ffffff;
        box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25);
        top: -30px;
        bottom: 70.62%;
        height: 32%;
    }

    .img {
        width: 35%;
    }
    .text {
        font-family: Montserrat;
        color: #6421ff;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .comentario {
        text-align: justify;
        color: #6421ff;
        margin-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
        font-family: Montserrat;
    }

    .Container-line {
        align-self: center;
        display: inline-block;
        flex-direction: row;
        padding-bottom: 40px;
        .Line {
            margin-top: 0px;
            padding: 0px 3px 12px 3px;
            height: 3px;
            margin-left: 2px;
        }
    }
    .enlace {
        align-self: center;
        background-color: #6421ff;
        color: white;
        text-align: center;
        text-decoration: none;
        border: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        width: 12em;
        height: 3em;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .enlace:hover {
        box-shadow: 0 0 5px #1affe3, 0 0 8px #1affe3;
        cursor: pointer;
    }
}

@media screen and (max-width: 1920px) {
    .Contenedor-General {
        .tittle {
            font-size: 50px;
            margin-bottom: 0px;
            margin-top: 40px;
            transition: 0.5s;
        }
        .tittle1 {
            font-size: 50px;
            margin-top: 0px;
            margin-bottom: 0px;
            transition: 0.5s;
        }
        .cuadro-general {
            margin: auto;
            transition: 0.5s;
        }
        .cuadro {
            width: 28%;
            transition: 0.5s;
        }
        .cajaimg {
            margin-bottom: 0px;
            padding: 50px;
            margin-left: 20px;
            margin-right: 20px;
            border-width: 1px;
            height: 30%;
            transition: 0.5s;
        }

        .img {
            width: 40%;
            margin-bottom: auto;
            transition: 0.5s;
        }

        .cajatxt {
            margin-top: 0px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 20px;
            border-width: 2px;
            top: -30px;
            bottom: 70.62%;
            height: 32%;
            transition: 0.5s;
        }
        .text {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 25px;
            transition: 0.5s;
        }
        .comentario {
            margin-bottom: 0px;
            padding-left: 50px;
            padding-right: 50px;
            font-size: 21px;
            transition: 0.5s;
        }

        .Container-line {
            padding-bottom: 40px;
            transition: 0.5s;
            .Line {
                margin-top: 0px;
                padding: 0px 3px 12px 3px;
                height: 3px;
                margin-left: 2px;
                transition: 0.5s;
            }
        }
        .enlace {
            font-size: 35px;
            width: 12em;
            height: 3em;
            margin-top: 0px;
            margin-bottom: 100px;
            transition: 0.5s;
        }
    }
}
//////1600px - se usa para 1366 en realidad
@media screen and (max-width: 1600px) {
    .Contenedor-General {
        .tittle {
            font-size: 40px;
            margin-bottom: 0px;
            margin-top: 40px;
            transition: 0.5s;
        }
        .tittle1 {
            font-size: 40px;
            margin-top: 0px;
            margin-bottom: 0px;
            transition: 0.5s;
        }
        .cuadro-general {
            margin: auto;
            transition: 0.5s;   
        }
        .cuadro {
            width: 28%;
            transition: 0.5s;
        }
        .cajaimg {
            margin-bottom: 0px;
            padding: 30px;
            margin-left: 15px;
            margin-right: 15px;
            border-width: 1px;
            height: 30%;
            transition: 0.5s;
        }

        .img{
            width: 40%;
            margin-bottom: 0px;
            transition: 0.5s;
        }
        
        .cajatxt {
            margin-top: 0px;
            margin-bottom: 70px;
            margin-left: 15px;
            margin-right: 15px;
            padding: 20px;
            border-width: 2px;
            top: -30px;
            bottom: 70.62%;
            height: 32%;
            transition: 0.5s;
        }
        .text {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 17px;
            transition: 0.5s;
        }
        .comentario {
            margin-bottom: 0px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 15px;
            transition: 0.5s;
        }
        .Container-line {
            padding-bottom: 40px;
            transition: 0.5s;
            .Line {
                margin-top: 0px;
                padding: 0px 3px 12px 3px;
                height: 3px;
                margin-left: 2px;
                transition: 0.5s;
            }
        }
        .enlace {
            font-size: 25px;
            width: 12em;
            height: 3em;
            margin-top: 20px;
            margin-bottom: 100px;
            transition: 1s;
        }
    }
}
