.formContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;

    .form{
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        font-family: "Montserrat";
        grid-gap: 1.5rem;
    }
}