.menuBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .tittleText {
        color: white;
        font-size: 48px;
        font-weight: 650;
        text-decoration: underline;
        text-underline-offset: 0.1em;
        margin-top: 3%;
        margin-left: 5.5%;
    }

    .btnBar {
        width: 70px;
        height: auto;
        margin-top: 2%;
        margin-right: 13%;
    }

    .btnBar:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 1920px) {
    .menuBarContainer {
        .tittleText {
            font-size: 48px;
            transition: 0.5s;
        }

        .btnBar {
            width: 70px;
            transition: 0.5s;
        }
    }
}

@media screen and (max-width: 1366px) {
    .menuBarContainer {
        .tittleText {
            font-size: 36px;
            transition: 0.5s;
        }

        .btnBar {
            width: 60px;
            transition: 0.5s;
        }
    }
}
