$middlePercent: 46%;

.bannerContainer {
    width: 100%;
    min-height: 100%;
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .backgroundLeft {
        background-color: #6421ff;
        width: $middlePercent;
        padding-top: 8%;
        padding-left: 3%;
    }

    .text {
        font-family: "Montserrat";
        font-size: 40px;
        font-weight: 700;
        color: white;
    }
    .bannerImg {
        width: 100-$middlePercent;
        height: auto;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1920px) {
    .bannerContainer {
        margin-bottom: 50px;

        .backgroundLeft {
            padding-top: 8%;
            padding-left: 3%;
        }

        .text {
            font-size: 40px;
            font-weight: 700;
        }
        .bannerImg {
            transition: 0.5s;
        }
    }
}

@media screen and (max-width: 1600px) {
    .bannerContainer {
        margin-bottom: 50px;

        .backgroundLeft {
            padding-top: 9%;
            padding-left: 4%;
        }

        .text {
            font-size: 30px;
            font-weight: 700;
        }
        .bannerImg {
            transition: 0.5s;
        }
    }
}
